
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: rgb(43, 86, 151);
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    color: #FFF
}

.header-logo {
    width: 50px;
    height: 50px;
}